@font-face {
  font-family: "Futuris-Bold";
  src: url("../assets/fonts/Futuris/PM_Futuris-Bold.woff2") format("woff2"),
    url("../assets/fonts/Futuris/PM_Futuris-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futuris-Light";
  src: url("../assets/fonts/Futuris/PM_Futuris-Light.woff2") format("woff2"),
    url("../assets/fonts/Futuris/PM_Futuris-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futuris-Regular";
  src: url("../assets/fonts/Futuris/PM_Futuris-Medium.woff2") format("woff2"),
    url("../assets/fonts/Futuris/PM_Futuris-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bodoni-Bold";
  src: url("../assets/fonts/Bodoni/PM_Bodoni-Bold.woff2") format("woff2"),
    url("../assets/fonts/Bodoni/PM_Bodoni-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@media only screen and (min-width: 768px) {
  .Banner {
    display: block;
    position: relative;
  }
}
.Banner {
  padding: 0;
  width: 394px;
  vertical-align: middle;
  margin-right: auto;
  margin-left: auto;
}
.Banner h1 {
  color: #ca151a;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 3px;
  padding-top: 10px;
  font-family: Bodoni-Bold;
}
.Banner p {
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.Banner p img {
  width: 20px;
}

.Banner p span {
  color: #a4740e;
  font-weight: 900;
}

.alertwifi {
  position: fixed;
  z-index: 99;
  right: 0;
  top: 115px;
  display: flex;
  align-items: center;
  background-color: #ca151a;
  box-shadow: 0px 3px 6px #00000091;
  opacity: 0.9;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.alertwifi img {
  width: 40px;
  margin-right: 10px;
}

.alertwifi p {
  font-family: Futuris-Light;
  margin-bottom: 0;
}

.alertwifi .btn {
  color: wheat;
  font-size: 23px;
  padding: 0 10px 20px 10px;
  font-weight: 900;
}

.btn-wifi {
  background-color: #ca151a;
  font-size: 8px;
  padding: 0 4px;
  margin-bottom: 10px;
  border-radius: 20px;
  color: white;
}
.wifi-message {
  display: none;
}

.btn-close {
  padding: 10px 10px 10px 10px;
}

.volume {
  float: right;
}
a.volume,
a.volume:active,
a.volume:focus {
  color: #969696;
}

.bi-volume-mute-fill,
.bi-volume-down-fill {
  font-size: 25px;
  margin-bottom: 10px;
}
