.wifi-message p {
  font-size: 10px;
}
.wifi-message {
  display: none;
}
.wifi-message .wifi-content {
  position: fixed;
  z-index: 99;
  right: 0;
  top: 50px;
  display: flex;
  align-items: center;
  background-color: #ca151a;
  box-shadow: 0px 3px 6px #00000091;
  opacity: 0.9;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
}
.wifi-message img {
  width: 40px;
}
.wifi-message p {
  font-family: "PM_Futuris";
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 5px;
}
.wifi-message .btn-close {
  background-color: transparent;
  color: white;
}
.Banner {
  width: 100%;
}
.Banner h2 {
  text-align: center;
  font-family: "PM_Bodura";
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0;
}
.Banner p {
  text-align: center;
  font-weight: 300;
  font-family: "PM_Futuris";
}
.Banner p img {
  width: 20px;
  padding-bottom: 1px;
  margin-right: 3px;
}
.Banner p span {
  font-weight: 800;
  color: #a4740e;
}
@media (max-width: 320px) {
  .Banner h2 {
    font-size: 19px;
  }
  .Banner p {
    font-size: 12px;
  }
  .Banner p img {
    width: 10px;
  }
  .btn-volume {
    top: -15px;
  }
}
@media (max-width: 414px) {
  .Banner h2 {
    font-size: 20px;
  }

  .Banner p {
    font-size: 14px;
  }
  .btn-volume {
    top: -13px;
  }
}
.btn-volume {
  position: absolute;
  right: 0;
  font-size: 20px;
  top: -5px;
  color: #6b6b6b;
}
.btn-volume:focus,
.btn-volume:hover,
.btn-volume:active {
  color: #ca151a;
  background-color: transparent;
}
.btn-volume .fa-volume-up {
  color: #ca151a;
}
