@font-face {
  font-family: "Futuris-Bold";
  src: url("../assets/fonts/Futuris/PM_Futuris-Bold.woff2") format("woff2"),
    url("../assets/fonts/Futuris/PM_Futuris-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futuris-Light";
  src: url("../assets/fonts/Futuris/PM_Futuris-Light.woff2") format("woff2"),
    url("../assets/fonts/Futuris/PM_Futuris-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futuris-Regular";
  src: url("../assets/fonts/Futuris/PM_Futuris-Medium.woff2") format("woff2"),
    url("../assets/fonts/Futuris/PM_Futuris-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bodoni-Bold";
  src: url("../assets/fonts/Bodoni/PM_Bodoni-Bold.woff2") format("woff2"),
    url("../assets/fonts/Bodoni/PM_Bodoni-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

div.confirmExit_outer {
  background: #a69e97;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  display: none;
}
div.confirmExit_inner {
  background: white;
  max-width: 292px;
  height: 300px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}
div.confirmExit_inner h3 {
  padding-top: 50px;
  color: #ca151a;
  font-size: 20px;
  font-family: Futuris-Bold;
  margin-top: 50px;
}

div.confirmExit_inner p {
  color: #a4740e;
  font-size: 19px;
  font-family: Futuris-Light;
}

.confirmBtns {
  max-width: 268px;
}
