@font-face {
  font-family: "Futuris-Bold";
  src: url("../assets/fonts/Futuris/PM_Futuris-Bold.woff2") format("woff2"),
    url("../assets/fonts/Futuris/PM_Futuris-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futuris-Light";
  src: url("../assets/fonts/Futuris/PM_Futuris-Light.woff2") format("woff2"),
    url("../assets/fonts/Futuris/PM_Futuris-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futuris-Regular";
  src: url("../assets/fonts/Futuris/PM_Futuris-Medium.woff2") format("woff2"),
    url("../assets/fonts/Futuris/PM_Futuris-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bodoni-Bold";
  src: url("../assets/fonts/Bodoni/PM_Bodoni-Bold.woff2") format("woff2"),
    url("../assets/fonts/Bodoni/PM_Bodoni-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@media only screen and (min-width: 768px) {
  .Content {
    max-width: 1140px;
  }
}

.Content {
  padding: 0;
  background-image: url("../assets/images/RedBox1.png");
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  text-align: center;
  height: 100%;
  min-height: 360px;
  width: 100%;
  max-width: 394px;
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.Page1 {
  display: block;
  position: relative;
}

.Page1 img {
  height: 278px;
  width: 232px;
  margin-top: 15px;
}
.Page1 .splash {
  display: block;
  position: relative;
  background-image: url("../assets/images/WordSearch2.jpg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 240px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.Page1 p {
  margin-top: 27px;
  color: white;
  font-size: 10px;
  line-height: 15px;
  font-weight: lighter;
  font-family: Futuris-Light;
  padding-bottom: 0;
}
#playNow {
  margin-top: 15px;
}

.Page2 {
  display: none;
  padding-top: 20px;
}

.Page2 .splash {
  display: block;
  position: relative;
  background-image: url("../assets/images/wordsearch-assets/img_step2.gif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

#next1 {
  margin-top: 20px;
}

.Page2 h5 {
  margin-top: 14.5px;
  color: white;
  text-align: center;
  line-height: 18px;
  font-size: 18px;
  letter-spacing: 0px;
  opacity: 1;
  font: Futuris-Regular;
}

.Page3 {
  display: none;
  padding-top: 20px;
  padding-bottom: 20px;
}
.Page3 .splash {
  display: block;
  position: relative;
  background-image: url("../assets/images/WordSearchMechanics2.png");
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  height: 245px;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.Page3 h5 {
  margin-top: 10px;
  color: white;
  text-align: center;
  line-height: 14px;
  font-size: 14px;
  letter-spacing: 0px;
  opacity: 1;
  font: Futuris-Regular;
}
#next2 {
  margin-top: 15px;
}
.Page4 {
  display: none;
}
#hintBtn {
  margin-top: 5px;
}
.red-button {
  background-color: #ca151a;
  background-image: url("../assets/images/herringbone-texture-white.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white !important;
  border-radius: 0;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-family: Futuris-Bold;
  width: 100%;
  max-width: 308px;
  margin-left: auto;
  margin-right: auto;
}
.red-button:hover,
.red-button:active .red-button.active {
  color: white;
}

.red-button:active:focus,
.red-button:focus {
  outline: none;
  box-shadow: none;
}

.top-buttons .btn-back {
  box-shadow: 0px 3px 6px #00000040;
  background-color: #ca151a;
  border-radius: 24px;
  display: flex;
}
.top-buttons .btn-close {
  display: flex;
  box-shadow: 0px 3px 6px #00000040;
  background-color: #ca151a;
  border-radius: 24px;
}
.btn-back {
  padding: 10px;
  position: absolute;
  left: 5px;
  top: 10px;
}
.btn-close {
  position: absolute;
  right: 5px;
  top: 10px;
}
.top-buttons img.img-back {
  width: 12px;
  height: 12px;
  margin-top: 0;
  margin-bottom: 0;
}
.top-buttons img.img-close {
  width: 12px;
  height: 12px;
  margin-top: 0;
  margin-bottom: 0;
}

#menu-outer {
  text-align: center;
  max-height: 75px;
  padding-bottom: 5px;
}
#menu-outer h4 {
  font-family: Futuris-Regular;
  font-size: 18px;
  letter-spacing: 0px;
  color: #ffffff;
  margin-top: 5px;
}

.table {
  display: table; /* Allow the centering to work */
  margin: 0 auto;
}

ul#wordsList {
  max-width: 75%;
  list-style-type: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
ul#wordsList li {
  display: inline-flex;
  letter-spacing: 0px;
  color: #ffffff;
  font-size: 12px;
  float: left;
}
ul#wordsList li.circle {
  background: url("../assets/images/CheckCircle.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: left;
  padding-left: 20px;
  padding-right: 10px;
}

ul#wordsList li.wordCheck {
  background: url("../assets/images/Check.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: left;
  padding-left: 20px;
  padding-right: 10px;
}
.wrap {
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-color: #a4740e;
  background-color: #f0f0f0;
}

.ws-area,
#ws-area {
  display: inline-block;
  border-radius: 10px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-family: "Times New Roman";
}

.ws-row {
  line-height: 0;
}

.ws-col {
  cursor: pointer;
}

.ws-col.ws-selected,
.hint {
  background: #f59089 0% 0% no-repeat padding-box;
  border-radius: 1px;
  opacity: 0.35;
  color: black;
}

.ws-found {
  background: #f59089 0% 0% no-repeat padding-box;
}

.ws-game-over-outer {
  background: #a69e97;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.ws-game-over-mid {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: block;
  background: transparent url("../assets/images/Sparkles-01.png") 0% 0%
    no-repeat padding-box;
  background-position: left top;
}

.ws-game-over-inner {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: table;
  background: transparent url("../assets/images/Sparkles-01.png") 0% 0%
    no-repeat padding-box;
  background-position: bottom right;
}

.ws-game-over {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  min-width: 292px;
  min-height: 334px;
  background: url("../assets/images/CongratsBG.png") 0% 0% no-repeat padding-box;
  background-position: center center;
  box-shadow: 0px 3px 6px #000000a6;
  opacity: 1;
}

.ws-game-over h2 {
  color: #ca151a;
  font-size: 22px;
  letter-spacing: 0.44px;
  padding: 0;
  margin: 0 0 9px 0;
  font-family: Futuris-Bold;
}

.ws-game-over p {
  color: #ca151a;
  font-size: 1em;
  padding-top: 20px;
}
.ws-game-over h3 {
  color: #a4740e;
  font-size: 1.5em;
}

div.coinCongrats {
  display: block;
  position: relative;
  width: 68px;
  height: 68px;
  background: url("../assets/images/PM-coin-gold.png");
  background-size: 68px 68px;
  margin-left: auto;
  margin-right: auto;
}
#exitHome {
  width: 75%;
}
