@font-face {
  font-family: "Futuris-Bold";
  src: url("../assets/fonts/Futuris/PM_Futuris-Bold.woff2") format("woff2"),
    url("../assets/fonts/Futuris/PM_Futuris-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futuris-Light";
  src: url("../assets/fonts/Futuris/PM_Futuris-Light.woff2") format("woff2"),
    url("../assets/fonts/Futuris/PM_Futuris-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futuris-Regular";
  src: url("../assets/fonts/Futuris/PM_Futuris-Medium.woff2") format("woff2"),
    url("../assets/fonts/Futuris/PM_Futuris-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bodoni-Bold";
  src: url("../assets/fonts/Bodoni/PM_Bodoni-Bold.woff2") format("woff2"),
    url("../assets/fonts/Bodoni/PM_Bodoni-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

footer {
  background-color: black;
  text-align: center;
  color: white;
  font-size: 10px;
  font-family: Futuris-Regular;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
}

footer p {
  margin-bottom: 2px;
}
