@font-face {
  font-family: "Futuris-Bold";
  src: url("../assets/fonts/Futuris/PM_Futuris-Bold.woff2") format("woff2"),
    url("../assets/fonts/Futuris/PM_Futuris-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futuris-Light";
  src: url("../assets/fonts/Futuris/PM_Futuris-Light.woff2") format("woff2"),
    url("../assets/fonts/Futuris/PM_Futuris-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futuris-Regular";
  src: url("../assets/fonts/Futuris/PM_Futuris-Medium.woff2") format("woff2"),
    url("../assets/fonts/Futuris/PM_Futuris-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bodoni-Bold";
  src: url("../assets/fonts/Bodoni/PM_Bodoni-Bold.woff2") format("woff2"),
    url("../assets/fonts/Bodoni/PM_Bodoni-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

header {
  display: block;
  position: relative;
  width: 100%;
}

.navbar {
  background-image: url("../assets/images/nav-omnibus.png");
  height: 100px;
  border-bottom: 1px solid #ca151a;
  background-color: white;
  background-position: center center;
  background-size: cover;
  padding: 5px 5px;
}
.navbar-brand > img {
  width: 146px;
  height: 80px;
  float: left;
}

@media (max-width: 320px) {
  .navbar-brand > img {
    width: 100px;
    height: 50px;
  }
}

.header-usercoin {
  position: absolute;
  float: right;
  right: 0;
  display: flex;
  align-items: center;
}

.header-usercoin .user {
  text-align: right;
}

.header-usercoin .user p {
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 12px;
  font-family: Futuris-Light;
}

.header-usercoin .coin {
  color: #a4740e;
  font-size: 16px;
  font-weight: 900;
  font-family: Futuris-Bold;
}

.header-usercoin .coin > img {
  width: 20px;
}

.header-usercoin .arrow {
  margin-left: 15px;
  margin-right: 10px;
}

.header-usercoin .arrow img {
  width: 20px;
}
