@font-face {
  font-family: "Futuris-Bold";
  src: url("./assets/fonts/Futuris/PM_Futuris-Bold.woff2") format("woff2"),
    url("./assets/fonts/Futuris/PM_Futuris-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futuris-Light";
  src: url("./assets/fonts/Futuris/PM_Futuris-Light.woff2") format("woff2"),
    url("./assets/fonts/Futuris/PM_Futuris-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futuris-Regular";
  src: url("./assets/fonts/Futuris/PM_Futuris-Medium.woff2") format("woff2"),
    url("./assets/fonts/Futuris/PM_Futuris-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bodoni-Bold";
  src: url("./assets/fonts/Bodoni/PM_Bodoni-Bold.woff2") format("woff2"),
    url("./assets/fonts/Bodoni/PM_Bodoni-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.App {
  height: 100%;
  width: 100%;
  text-align: center;
  overscroll-behavior-y: contain;
  height: 100%;
  width: 100%;
  margin: auto;
  display: block;
  top: 0;
  position: relative;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  -o-background-size: 100% 100%;
}

.home-button {
  background-color: #ca151a;
  background-image: url("./assets/images/herringbone-texture-white.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white !important;
  border-radius: 0;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-family: Futuris-Bold;
  width: 100%;
  max-width: 308px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 37px;
}
.home-button:hover,
.home-button:active .home-button.active {
  color: white;
}

.home-button:active:focus,
.home-button:focus {
  outline: none;
  box-shadow: none;
}
.btn-animate {
  animation: beat 0.35s infinite alternate;
  transform-origin: center;
  box-shadow: 0px 3px 6px #00000040;
}

@keyframes beat {
  to {
    transform: scale(1.06);
  }
}
