@font-face {
  font-family: "Futuris-Bold";
  src: url("./assets/fonts/Futuris/PM_Futuris-Bold.woff2") format("woff2"),
    url("./assets/fonts/Futuris/PM_Futuris-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futuris-Light";
  src: url("./assets/fonts/Futuris/PM_Futuris-Light.woff2") format("woff2"),
    url("./assets/fonts/Futuris/PM_Futuris-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futuris-Regular";
  src: url("./assets/fonts/Futuris/PM_Futuris-Medium.woff2") format("woff2"),
    url("./assets/fonts/Futuris/PM_Futuris-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bodoni-Bold";
  src: url("./assets/fonts/Bodoni/PM_Bodoni-Bold.woff2") format("woff2"),
    url("./assets/fonts/Bodoni/PM_Bodoni-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html,
body {
  overscroll-behavior-y: contain;
  background-image: url("./assets/images/mobile-bg-pattern.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
